@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import './nullstyle';

body {
    width: 100%;
    height: 100%;
    font-family: "Lato";
}
.header {
    width: 100%;
    height: 950px;
    background: url(../img/header/BG-Header.png) no-repeat;
    background-size: cover;
    &__logo {
        max-width: max-content;
        max-height: max-content;
        margin: 0 auto;
        padding: 120px;
    }
    &__text {
        text-align: center;
        color: #ffffff;
        letter-spacing: 5px;
        line-height: 40px;
        font-weight: 400;
        font-size: 20px;
        margin: 0 0 50px 0;
    }
    &__text:first-line {
        font-size: 34px;    
        font-weight: 900;
        text-transform: uppercase;
    }
    &__line {
        margin: 50px auto;
    }
    &__button {
        margin: 130px auto;
    }
    &__arrowDown {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        right: 0;   
        margin: 280px auto;
    }
}
.line {
    width: 105px;
    height: 2px;
    background: #ffffff
}
.button {
    position: absolute;
    left: 0;
    right: 0;
    width: 180px;
    height: 45px;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 40px;
    background: transparent;
}
.main-menu {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    background: #ffffff;
    border-bottom: 1px solid rgb(231, 231, 231);
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
        margin: 24px 50px;
        font-size: 15px;
        font-weight: 700;
        color: #000;
    }
    &__item a:hover {
        color: #ada074;
    }
}
.about {
    &__body {
        max-width: 900px;
        margin: 100px auto;
    }
    &__column {
        width: 33.3333%;
    }
    &__title {
        margin: 0 0 30px 0;
    }
    &__text {
        font-size: 14px;
        line-height: 26px;
        color: #868585;
        font-weight: 300;
        text-align: center;
        margin: 0 0 70px 0;
    }
    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
.title {
    position: relative;
    font-size: 34px;
    letter-spacing: 5px;
    color: #000;
    font-weight: 700;
    text-align: center;
    padding: 0 0 30px 0;
    &:after {
        content: '';
        position: absolute;
        width: 50px;
        bottom: 0;
        height: 1px;
        left: 50%;
        background: #000;
        margin: 0 0 0 -25px;
    }
}
.about-item {
    &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 50%;
    width: 92px;
    height: 92px;
    }
    &__header {
        font-size: 22px;
        letter-spacing: 4px;
        color: #000000;
        font-weight: 400;
        text-align: center;
        margin: 40px 0;
    }
    &__text {
        font-size: 14px;
        line-height: 26px;
        color: #868585;
        font-weight: 300;
        text-align: center;
    }
}
.item {
    align-items: center;
    justify-content: center;
}
.portfolio {
    &__body { 
        max-width: 100%;
        max-height: max-content;
        background: #f3f3f3;
        padding: 110px;
    }
    &__navigation {
        width: 400px;
        margin: 0 auto;
        padding: 0 0 100px 0;
    }
    &__container {
        position: relative;
        margin: 0 auto;
        display: flex;
        max-width: 1130px;
        max-height: max-content ;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
    }
    &__button {
        color: #000;
        border-color: #000;
        margin: 50px auto;
    }
}
.portfolio-menu {
    margin: 30px 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item {
        font-size: 15px;
        font-weight: 700;
        color: #000;
    }
    &__item a:hover {
        color: #ada074;
    }
}
.container-item {
    width: 538px;
    height: 365px;
    background: #eaeaea;
    margin: 5px;
}
.partners {
    &__body {
        background: url(../img/partners/partner-bg.png) no-repeat;
        width: 100%;
        background-size: cover;
    }
    &__header {
        padding:  80px 0 120px;
        font-size: 30px;
        letter-spacing: 2px;
        color: #ffffff;
        font-weight: 300;
        text-align: center;
    }
    &__row {
        display: flex;
        width: 600px;
        height: 70px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 100px;
    }
}
.contact {
    width: 100%;
    height: 850px;
    &__body {
        padding: 100px 500px;
        background: #ffffff;
    }
    &__title {
        margin: 0 0 100px 0;
    }
    &__row {
        display: flex;
        flex-direction: row;
    }
    &__column {
        width: 50%;
    }
    &__text {
        width: 260px;
        height: 200px;
        font-size: 14px;
        line-height: 26px;
        color: #000;
    }
    &__p {
        margin-bottom: 1em;
    }
    &__img {
        width: 28px;
        height: 28px;
        border-radius: 14px;
        background-color: rgba(255,255,255,0);
        border: 2px solid #1e1e1e;
    }

}
.socials {
    width: 72px;
    height: 30px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.social {
    font-size: 22px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 50%;
}
.form {
    width: 420px;
    height: 390px;
    &__row {
        width: 100%;
        height: 45%;
        margin: 0 0 60px 0;
        display: flex;
        justify-content: space-between;
    }
    &__send {
        font-size: 14px;
        letter-spacing: 1px;
        color: #000;
        font-weight: 700;
        background: #ffffff;
    }
    &__send-row {
        height: 10%;
        display: flex;
        justify-content: end;
    }
}
.short-form {
    &__header {
        font-size: 14px;
        letter-spacing: 1px;
        color: #000;
        font-weight: 700;
        text-align: left;
        margin: 0 0 15px 0;
    }
    &__input {
        width: 161px;
        height: 35px;
        background-color: #f8f7f7;
        border-top: 1px solid #000;
    }
}
.large-form {
    &__header {
        font-size: 14px;
        letter-spacing: 1px;
        color: #000000;
        font-weight: 700;
        text-align: left;
        margin: 0 0 15px 0;
    }
    &__input {
        width: 420px;
        height: 118px;
        background-color: #f8f7f7;
        border-top: 1px solid #000;
    }
}
.footer {
    width: 100%;
    height: 300px;
    background: #3c3c3c;
    &__logo {
        width: max-content;
        margin: 0 auto;
        padding: 50px;
    }
    &__text {
        width: max-content;
        margin: 0 auto;
        font-size: 14px;
        color: #6c6c6c;
        font-family: "Myriad Pro";
    }
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 50px;
    width: 260px;
    &__item {
        font-size: 14px;
        color: #a4a4a4;
        font-weight: 400;
    }
}